
<div class="container my-mentor">

    <div class="row filter">

        <div class="col-md-2 col-sm-2 ">

            <h1>Mentor list</h1>

        </div>

        <div class="col-md-3 col-sm-3 search-filter ml-auto">

            <div class="search-input">

                <input type="text" name="" ng-model="serchlist" placeholder="Search">

                <i class="fa fa-search" aria-hidden="true"></i>

            </div>

        </div>

 

    </div>

    <div class="list-container">

        <div class="row row-list">

 

            <div class="col-lg-1">

                <div class="image">

                    <img src="assets/images/userImg.png" class=" img-fluid rounded">

                </div>

            </div>

            <div class="col-lg-6">

                <div class="name-role">

                        <span class="name"> {{list.firstName}} </span>

                    <span class="email"> {{list.email}} </span>

 

                </div>

            </div>

            <div class="col-lg-5">

                

            </div>

        </div>

 

        

    </div>

    <!--row-->

 

    <!-- Modal -->

    <div id="userAllocation" class="modal fade" role="dialog">

        <div class="modal-dialog">

 

            <!-- Modal content-->

            <div class="modal-content">

                <div class="modal-header">

                    <h4 class="modal-title"></h4>

                </div>

                <div class="modal-body">

                    <div class="lists row-list">

                        <ul>

                            <li>

                                <div >

                                    <div><img class=" img-fluid rounded" src="assets/images/userImg.png"></div>

                                    <div>sdfsd

                                        <span> sdfsd </span>

                                    </div>

 

                                    <div>

                                        <button class="btn-green pull-right" >Assin</button>

                                    </div>

                                </div>

                            </li>

 

                        </ul>

                    </div>

                </div>

                <div class="modal-footer ">

                    <button type="button " class="btn btn-default " data-dismiss="modal ">Close</button>

                </div>

            </div>

 

        </div>

    </div>

    <!--END-->

 

</div>

 