
<div class="top-row">
    <div class="assign-title"> Add Practice Members
      <span> You can select multiple Members </span> </div>
    <button (click)="addmember()"> Assign</button>
    <input [(ngModel)]="searchText" type="search" placeholder="Search">
  </div>
  <ul class="mentee-list"  *ngIf="hidecontent">
    <li class="mentee-list-opctions" *ngFor="let listItem of unassindmembers | emfilter:searchText">
      <div class="col-itmes">
        <div *ngIf="listItem.profileImage ; else notShow">
          <img alt="profile" *ngIf="listItem.profileImage!='null'" class="img-fluid emlist-profile-img" [src]="listItem.profileImage">
        </div>
        <ng-template #notShow>
          <img alt="profile" class="img-fluid emlist-profile-img" src="/assets/images/profile-placeholder.jpg">
        </ng-template>
      </div>
      <div class="col-itmes mentee-list-deatails">
        <span title="{{listItem.firstName}} {{listItem.lastName}}"> {{listItem.firstName |toCapitalize}} {{listItem.lastName |toCapitalize}}</span>
        <!-- <span> {{listItem.email}}</span> -->
      </div>
      <div class="col-itmes">
        <label class="mentee-list-checkbox">
          <input type="checkbox" (change)="changeevent($event)" name="mentees" value="{{listItem.id}}" ngModel>
          <span class="checkmark"></span>
        </label>
      </div>
    </li>
  </ul>
  <div class="error-message" *ngIf="showerror"> No members to add</div> 
  
  