


<section id="section-1" class="content">
		<div class="container">
			<div class="col col-sm-5 col-md-5 col-lg-5 col-xl-5 float-right main-body-text">
				<div class="top-menu">
					<ul>
						<li>
							<a class="navigation__link" href="#section-2">About Mentorship</a>
						</li>
						<li>
							<a class="navigation__link" href="#section-3">Objectives</a>
						</li>
						<li>
							<a class="navigation__link" href="#section-4">How it works</a>
						</li>
						<li>
							<a class="navigation__link" href="#section-5">Login</a> 
					
						</li>
					</ul>
				</div>
				<div class="logo wow fadeInRight animated" data-wow-delay="0.5s">
					<img class="img-fluid" src="assets/images/logo-main-page@3x.jpg" alt="Logo">
				</div>
				<div class="title wow fadeInRight animated" data-wow-delay="0.5s">
					<h1> INSPIRE AND
						<br> BE INSPIRED!</h1>
				</div>
				<div class="body-text wow fadeInRight animated" data-wow-delay="0.5s">
					<p>Be a valuable Happiestmind which can be used to build
						<br> an effective and diverse organization as it assists to ensure
						<br> that all employees are equally given the opportunity to
						<br> be successful.</p>
				</div>
				<div class="login-btn-area wow fadeInRight animated" data-wow-delay="0.5s">
					<a  href="#section-5" class="app-btn login-btn navigation__link"> Login</a>
				</div>
			
			</div>
	
			
		</div>
			
			
	</section>

	<div class="v-bar"> </div>
	<section id="section-2" class="content" >
		<div class="container">
			<div class="row">
				<div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 wow fadeInLeft animated">
					<div class="mentorinfo mentorinfo-1">
						<h3>What is Mentorship ?</h3>
						<div class="mentorInfo-text">
							<p>We all need someone who inspires us to do better than we know how.</p>
							<p>Take personal responsibility for your career success. Only you can make you a career success. You must be willing to
								do the things necessary to succeed.</p>
							<p>Take charge and demonstrate your commitment to a successful career.</p>
							<p>Set high goals – and then do whatever it takes to achieve them. </p>
							<p>As you go through life you will encounter many problems and setbacks. </p>
						</div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 wow fadeInRight animated ">
					<div class="mentorinfo mentorinfo-2">
						<h3>Why Mentorship ?</h3>
						<div class="mentorInfo-text">
							<p>Take personal responsibility for your career success. Only you can make you a career success. You must be willing to
								do the things necessary to succeed.</p>
							<p>Take charge and demonstrate your commitment to a successful career.</p>
							<p>Set high goals – and then do whatever it takes to achieve them. </p>
							<p>As you go through life you will encounter many problems and setbacks. </p>
							<p>You need to react positively to the negative stuff and move forward toward your goals, dreams and career success. Your
								MENTOR will guide you through this journey </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="section-3" class="content">
	
		<div class="col-md-6 col-sm-6 col-xs-6 objectives wow fadeInLeft animated" data-wow-delay="0.5s">
			<h3 class="objectivestitle">Objectives</h3>
			<div class="objective-list">
				<ul class="cust-list-group">
					<li class="cust-list-item wow fadeInUp animated">
	
						<span> Identify, nurture and enhance the potential in every DTES Happiest Mind for productivity, people happiness and achievement
							levels. </span>
					</li>
					<li class="cust-list-item wow fadeInUp animated">
	
						<span> Enable each DTES Happiest Mind with - a guide for career path, technical and related topics. </span>
					</li>
					<li class="cust-list-item  wow fadeInUp animated">
	
						<span> Enhance the professional network of people within the BU and provide high quality interaction opportunities; Increased
							people ownership across the BU – “People happiness is everyone’s business” </span>
					</li>
					<li class="cust-list-item  wow fadeInUp animated">
	
						<span> Provide leadership growth opportunities for senior Happiest Minds by providing mentoring to other Happiest Minds </span>
					</li>
					<li class="cust-list-item wow fadeInUp animated">
	
						<span> Build a solid platform for rapidly resolving queries, issues and providing directions to each individual, with clear
							go-to person identification & process. </span>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="section-4" class="content">
		<div class="container">
			<div class="how-it-is wow col-md-6 col-sm-6 col-xs-6 fadeInLeft animated" data-wow-delay="0.6s">
				<h3 class="howitworks-title">How it Works</h3>
				<div class="howitworks-list">
					<div class="cust-list-group">
						<p class="cust-list-item wow fadeInUp animated">
							<span> Identify, nurture and enhance the potential in every DTES Happiest Mind for productivity, people happiness and achievement
								levels. </span>
						</p>
						<p class="cust-list-item  wow fadeInUp animated">
							<span> Enable each DTES Happiest Mind with - a guide for career path, technical and related topics. </span>
						</p>
						<p class="cust-list-item  wow fadeInUp animated">
							<span> Enhance the professional network of people within the BU and provide high quality interaction opportunities; Increased
								people ownership across the BU – “People happiness is everyone’s business” </span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="section-5" class="content">
		<app-login></app-login>
	</section>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg wow fadeOut animated" id="mainNav">
				<div class="container">
					<a class="navbar-brand js-scroll-trigger" href="#page-top">
						<img class="img-fluid" src="assets/images/logo-menu-bar.png" alt="Logo">
					</a>
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
					 aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
						Menu
						<i class="fa fa-bars"></i>
					</button>
					<div class="collapse navbar-collapse" id="navbarResponsive">
						<ul class="navbar-nav text-uppercase ml-auto">
							<li class="nav-item">
								<a class="nav-link js-scroll-trigger navigation__link" href="#section-2">About Mentorship</a>
							</li>
							<li class="nav-item">
								<a class="nav-link js-scroll-trigger navigation__link"href="#section-3">Objectives</a>
							</li>
							<li class="nav-item">
								<a class="nav-link js-scroll-trigger navigation__link"href="#section-4">How it works</a>
							</li>
							<li class="nav-item">
								<a class="nav-link js-scroll-trigger navigation__link" href="#section-5">Login</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>