
<div class="progress-bar-chart">
    <p><!-- Overall Mentees Performance Progress- -->{{title}}</p>
    <ul class="progress-bar-chart-label">
            <li class="label-achieved">
                <span> {{achieved}} </span> Achieved</li>
            <li class="label-in-progress">
                <span>{{inprogress}}</span>In Progress</li>
            <li class="label-not-started">
                <span>{{notestarted}}</span>Not Started</li>
        </ul>
    <div class="progress">
        <div class="progress-bar progress-bar-achieved" data-toggle="tooltip" title="achieved" role="progressbar"
        [style.width.%]="achieved | percentage:totalgoals">

        </div>
        <div class="progress-bar progress-bar-in-progress" data-toggle="tooltip" title="inprogress" role="progressbar"
        [style.width.%]="inprogress| percentage:totalgoals">

        </div>
        <div class="progress-bar progress-bar-not-started" data-toggle="tooltip" title="notestarted" role="progressbar"
        [style.width.%]="notestarted | percentage:totalgoals">

        </div>
    </div>
  
</div>